@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@400;500;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: 'Hind Guntur', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    margin: 20px;
}
.cards{
    width: 90%;
}
.card{
    display: flex;
    border: 1px solid lightgrey;
    align-items: center;
    padding: 2px 5px;
    padding-left: 0;
}
.card:hover{
    background-color: rgb(219, 214, 214);
}
.movieInfo{
    padding: 20px 15px;
    color: rgb(66, 61, 61);
}
.card .number{
    font-size: 20px;
    font-weight: 600;
    padding: 12px;
}
.card img{
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}

.movieInfo .movieName span:first-of-type{
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
}
.movieInfo .movieName {
    margin-bottom: 10px;
    font-weight: 500;
    color: black;
}

.movieDescription{
    line-height: 20px;
}

.movieDetails span:nth-of-type(1)
{
    color: black;
    font-weight: 500;
}
.movieDetails span:nth-of-type(3)
{
    color: black;
    font-weight: 500;
}
.movieDetails span:nth-of-type(5)
{
    color: black;
    font-weight: 500;
}
.movieDetails span:nth-of-type(7)
{
    color: black;
    font-weight: 500;
}
#btn{
margin: 50px;
cursor: pointer;
border: none;
outline: none;
border: 2px solid #ee5253;
font-size: 20px;
padding: 5px 50px;
font-weight: 700;
background-color: #ee5253;
color: white;

}
#btn:hover{
    /* font-weight: 900; */
    background-color: #f03939;
}
.loader{
    width: 70px;
    border-radius: 50%;
    height: 70px;
    background-color: transparent;
    display: inline-block;
    border: 8px solid #f03939;
    animation: loader 2s infinite;
    animation-timing-function: linear;
    border-right:8px solid #ee7c7c;
    
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



